/*BOXES*/
#mainbox{
    font: "Liberation Sans", sans-serif 12px;
    font-weight: lighter;
    color: grey;
}
#leftbox{
    border-radius: 5px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 0.5px solid lightgrey;
}
#rightbox{
    border-radius: 5px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 0.5px solid lightgrey;
    border-right: 1px solid lightgrey;
}
#title_box{
}
/*leftbox*/
#onoffbox{
}
#scales{
    font: "Liberation Sans", sans-serif 10px;
    font-weight: lighter;
    color: grey;
}
/*rightbox*/
#controlpanel{
}
#control{
    border: 1px dotted lightgrey;
    border-radius: 5px;
}

/*BUTTONS*/
#titlebutton{
    border: 1px solid lightgrey;
    background: transparent;
}
#controlbuttons{
    border: 0;
    border-radius: 20px;
    background: transparent;
    padding: 5px;
}
#panelbuttons{
    border: 1px solid lightgrey;
    background: transparent;
}
#presetbuttons{
    font: "Liberation Sans", sans-serif 8px;
    font-weight: lighter;
    color: grey;
    border: 1px solid lightgrey;
    background: transparent;
}

/*BUTTONEFFECTS*/
#titlebutton:hover{
    background: linear-gradient(ghostwhite,lightgoldenrodyellow);
}
#onoffbutton:hover{
}
#panelbuttons:hover,
#presetbuttons:hover{
    background: linear-gradient(ghostwhite,lightgoldenrodyellow);
}
#panelbuttons:checked,
#presetbuttons:checked{
    background: linear-gradient(lightgrey, ghostwhite);
}
#controlbuttons:hover{
    background: linear-gradient(ghostwhite,lightgoldenrodyellow);
}

/*LABELS*/
#descr_label{
    font-size: 10px;
}
#title_label{
}


